@model BusJourneysResponseScreenDto
@{
    Layout = "_JourneyLayout";
}

@section header{
    <div class="row mx-3">
        <div class="col-sm-1">
            <a href="@Url.Action("Index","Home", new { _originId = Model.OriginId, _destinationId = Model.DestinationId, _departureDate = Model.DepartureDate })">
                <i class="fa-solid fa-arrow-left iconTheme-Journey"></i>
            </a>
        </div>
        <div class="col-sm-11 headermaintext-journey">
            <span>@Model.OriginName</span> - <span>@Model.DestinationName</span>
        </div>
    </div>
    <div class="row mx-3">
        <div class="col-sm-1">
            &nbsp;
        </div>
        <div class="col-sm-11 headersubtext-journey">
            <span>@Model.DepartureDate.ToString("dd MMMM dddd")</span>
        </div>
    </div>
}

<div class="container mt-5">
    @foreach (var item in Model.Data)
    {
        <div class="card cardTheme-journey mt-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="row cardtitle-journey">
                                    <span>KALKIŞ</span>
                                </div>
                                <div class="row carddeparture-journey">
                                    @item.Journey.Departure.ToString("dd.MM.yyyy HH:mm")
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="row">
                                    &nbsp;
                                </div>
                                <div class="row cardarrow">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="row cardtitle-journey">
                                    <span>VARIŞ</span>
                                </div>
                                <div class="row carddeparture-journey">
                                    @item.Journey.Arrival.ToString("dd.MM.yyyy HH:mm")
                                </div>
                            </div>
                        </div>
                        <div class="row cardorigitntodestination-journey">
                            @item.Journey.Origin - @item.Journey.Destination
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="bg-danger badge-currency">
                            @item.Journey.InternetPrice <span>TL</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>